.repos-changes-viewer {
  .bolt-card-content {
    &:has(.repos-summary-diff-splitter) {
      min-width: 0;
    }
    min-width: max-content;
  }

  div.repos-summary-code-diff {
    overflow-x: hidden;
  }

  div.repos-summary-diff-container {
    overflow-x: hidden;
    padding-right: 8px;
  }
}

.repos-summary-diff-splitter div.repos-summary-diff-container {
  overflow-x: auto;
}
